.header {
    margin-top: 0px;
    height: 100px;
    padding: 10px;
    width: 100%;
    background-image: url('/src/images/backgroundHeader.jpg');
    border-bottom: solid #BC4123 20px;
    background-size: auto;
    float: left;
    display: table;
    top: -125px;

    position: relative;
    transition: left 0.3s linear ;
    -webkit-transition: top 0.2s linear; /* Safari */

}

.header:hover{
    top: 0px;
}

.logo{
    background-image: url('/src/images/logo.png');
    background-size: cover;
    width:90px;
    height: 90px;
    float: left;
}

.logo:hover{
    background-image: url('/src/images/logo2.png');
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);


}

.btns{
    position: center;
}


